<div class="contact-rich">
	<div class="ttvcontact-inner-page-left-title">{{ tv_lang_store_label }}</div>
	<div class="ttvcontact-page-infomation">
		<div class="block">
			<div class="icon"><i class="ion-ios-location"></i></div>
			<div class="data"><span class="ttvcontact-page-address">{{ store }}<br>{{ address }}</span></div>
		</div>
		<div class="block">
			<div class="icon"><i class="ion-android-call"></i></div>
			<div class="data">
				<span class="ttvcontact-page-number">{{ tv_lang_call_label }}</span>
				<a href="tel:{{ telephone }}" class="ttvcontact-page-no">{{ telephone }}</a>
			</div>
		</div>
		<div class="block">
			<div class="icon"><i class="ion-android-mail"></i></div>
			<div class="data email">
				<span class="ttvcontact-page-email">{{ tv_lang_email_label }}</span>
				<a href="{{ store_email }}" class="ttvcontact-page-email-link">{{ store_email }}</a>
			</div>
		</div>
	</div>
</div>