<div class="ttvcmsapp-logo container-fluid">
    <div class="ttvapp-logo container">
        <div class="ttvapp-logo-content-box row">
            <div class="ttvapp-logo-content-wrapper col-lg-8 col-md-6 col-sm-12 col-xs-12">
                <div class="ttvapp-logo-img-content-wrapper">
                    <div class="ttvapp-logo-content-inner">
                        <div class="ttvdekstop-footer-all-title-wrapper">
                            <div class="ttvfooter-title"><span>Download Electron App Now</span></div>
                        </div>
                        <div class="ttvdekstop-footer-all-desc-wrapper">
                            <div class="ttvfooter-desc"><span>{{ main_application_short_des }}</span></div>
                        </div>
                    </div>
                    <div class="ttvapp-logo-image">
                        <img src="{{ main_application_img }}" alt="Download Electron App Now">
                    </div>
                </div>
            </div>
            <div class="ttvapp-logo-link-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="ttvapp-logo-wrapper ttvapp-logo-apple">
                    <a href="{{ link1 }}" title="Apple App Link">
                        <img src="{{ image1 }}" alt="">
                    </a>
                </div>
                <div class="ttvapp-logo-wrapper ttvapp-logo-google">
                    <a href="{{ link2 }}" title="Google App Link">
                        <img src="{{ image2 }}" alt="">
                    </a>
                </div>
                <div class="ttvapp-logo-wrapper ttvapp-logo-microsoft">
                    <a href="{{ link3 }}" title="Microsoft App Link">
                        <img src="{{ image3 }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>